{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
<div class="ref-page">
  {% include "subnav.html" %}
  <div class="ref-content">
    {{ ref_page.content | safe }}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// The toggleMapFullscreen function is now in app.js
// Geography page inline scripts create the map and store it as window.map
</script>
{% endblock %}
